# Dependencies
node_modules/

# Next.js
.next/
out/

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.production
.env.development

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Coverage
coverage/

# IDE
.vscode/
.idea/